<script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
<script>audiojs.events.ready(function() {var as = audiojs.createAll();});</script>
<script type="text/javascript">$(document).ready(function(){$("a[rel='external'],a[rel='external nofollow']").click(function(){window.open(this.href);return false})})</script>
<a href="{{ site.url }}/">奚適而惡乎待哉</a>
<a href="{{ site.url }}/about/">存中</a> &copy 2005-2015
<a href="https://github.com/821/821.github.com">源碼</a> |
<a href="{{ site.url }}/Projects/">項目</a>
<a href="{{ site.url }}/Notes/">筆記</a> |
<a href="{{ site.url }}/categories/#網誌">網誌</a>
<a href="{{ site.url }}/categories/#自選集">自選集</a>
<a href="{{ site.url }}/categories/#挨踢">挨踢</a>
<a href="{{ site.url }}/categories/#勿忘在莒">勿忘在莒</a>
<a href="{{ site.url }}/categories/#隻言片語">隻言片語</a>