<a href="/">{{ site.title }}</a> | {{ site.author.name }} &copy 2005-2013 CC NC-ND | <a href="{{ site.url }}/latest.html">Friendly format</a><br>
<a href="{{ site.url }}/Me">±¾ÈË</a> <a href="{{ site.url }}/Thanks">øQÖx</a> <a href="{{ site.url }}/Yet">Î´¾¹ÊÂ˜I</a>
{% for category in site.categories  %}<a href="{{ site.url }}/categories#{{ category | first  }}.html">{{ category | first  }}<span>{{ category | last | size  }}</span></a> {% endfor  %}
<script src="http://api.html5media.info/1.1.5/html5media.min.js"></script>
<script>audiojs.events.ready(function() {var as = audiojs.createAll();});</script>