<meta charset='utf-8'>
<title>{{ page.title }}</title>
<script type="text/javascript">
	function externalLinks() {
		if (!document.getElementsByTagName) return;
		var anchors = document.getElementsByTagName("a");
		for (var i=0; i<anchors.length; i++) {
			var anchor = anchors[i];
			if (anchor.getAttribute("href") &&
			anchor.getAttribute("rel") == "external")
			anchor.target = "_blank";
		}
	}
	window.onload = externalLinks;
</script>
<link rel="icon" href="{{ site.url }}/Assets/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ site.url }}/Assets/favicon.ico" type="image/x-icon" />
<link rel="Bookmark" href="{{ site.url }}/Assets/favicon.ico">
<link href="{{ site.url }}/Assets/style.css" type="text/css" rel="stylesheet">
<link href="{{ site.url }}/Assets/pygments.css" type="text/css" rel="stylesheet">
