.highlightpre{border:0px;}
.highlight.hll{background-color:#333333}
.highlight.lineno{color:#ccc}/*Linenumber*/
.highlight{border:1pxdotted#9cf;background:#000;color:#fff}
.highlight.c{color:#008800;font-style:italic;background-color:#0f140f}/*Comment*/
.highlight.err{color:#fff}/*Error*/
.highlight.g{color:#fff}/*Generic*/
.highlight.k{color:yellow;font-weight:bold}/*Keyword*/
.highlight.l{color:#fff}/*Literal*/
.highlight.n{color:#fff}/*Name*/
.highlight.o{color:#fff}/*Operator*/
.highlight.x{color:#fff}/*Other*/
.highlight.p{color:#fff}/*Punctuation*/
.highlight.cm{color:#008800;font-style:italic;background-color:#0f140f}/*Comment.Multiline*/
.highlight.cp{color:#ff0007;font-weight:bold;font-style:italic;background-color:#0f140f}/*Comment.Preproc*/
.highlight.c1{color:#008800;font-style:italic;background-color:#0f140f}/*Comment.Single*/
.highlight.cs{color:#008800;font-style:italic;background-color:#0f140f}/*Comment.Special*/
.highlight.gd{color:#fff}/*Generic.Deleted*/
.highlight.ge{color:#fff}/*Generic.Emph*/
.highlight.gr{color:#fff}/*Generic.Error*/
.highlight.gh{color:#fff;font-weight:bold}/*Generic.Heading*/
.highlight.gi{color:#fff}/*Generic.Inserted*/
.highlight.go{color:#444444;background-color:#222222}/*Generic.Output*/
.highlight.gp{color:#fff}/*Generic.Prompt*/
.highlight.gs{color:#fff}/*Generic.Strong*/
.highlight.gu{color:#fff;font-weight:bold}/*Generic.Subheading*/
.highlight.gt{color:#fff}/*Generic.Traceback*/
.highlight.kc{color:#fb660a;font-weight:bold}/*Keyword.Constant*/
.highlight.kd{color:#fb660a;font-weight:bold}/*Keyword.Declaration*/
.highlight.kn{color:#fb660a;font-weight:bold}/*Keyword.Namespace*/
.highlight.kp{color:#fb660a}/*Keyword.Pseudo*/
.highlight.kr{color:#fb660a;font-weight:bold}/*Keyword.Reserved*/
.highlight.kt{color:#cdcaa9;font-weight:bold}/*Keyword.Type*/
.highlight.ld{color:#fff}/*Literal.Date*/
.highlight.m{color:#0086f7;font-weight:bold}/*Literal.Number*/
.highlight.s{color:#0086d2}/*Literal.String*/
.highlight.na{color:#ff0086;font-weight:bold}/*Name.Attribute*/
.highlight.nb{color:#fff}/*Name.Builtin*/
.highlight.nc{color:#fff}/*Name.Class*/
.highlight.no{color:#0086d2}/*Name.Constant*/
.highlight.nd{color:#fff}/*Name.Decorator*/
.highlight.ni{color:#fff}/*Name.Entity*/
.highlight.ne{color:#fff}/*Name.Exception*/
.highlight.nf{color:#ff0086;font-weight:bold}/*Name.Function*/
.highlight.nl{color:#fff}/*Name.Label*/
.highlight.nn{color:#fff}/*Name.Namespace*/
.highlight.nx{color:#fff}/*Name.Other*/
.highlight.py{color:#fff}/*Name.Property*/
.highlight.nt{color:#fb660a;font-weight:bold}/*Name.Tag*/
.highlight.nv{color:#fb660a}/*Name.Variable*/
.highlight.ow{color:#fff}/*Operator.Word*/
.highlight.w{color:#888888}/*Text.Whitespace*/
.highlight.mf{color:#0086f7;font-weight:bold}/*Literal.Number.Float*/
.highlight.mh{color:#0086f7;font-weight:bold}/*Literal.Number.Hex*/
.highlight.mi{color:#0086f7;font-weight:bold}/*Literal.Number.Integer*/
.highlight.mo{color:#0086f7;font-weight:bold}/*Literal.Number.Oct*/
.highlight.sb{color:#0086d2}/*Literal.String.Backtick*/
.highlight.sc{color:#0086d2}/*Literal.String.Char*/
.highlight.sd{color:#0086d2}/*Literal.String.Doc*/
.highlight.s2{color:#0086d2}/*Literal.String.Double*/
.highlight.se{color:#0086d2}/*Literal.String.Escape*/
.highlight.sh{color:#0086d2}/*Literal.String.Heredoc*/
.highlight.si{color:#0086d2}/*Literal.String.Interpol*/
.highlight.sx{color:#0086d2}/*Literal.String.Other*/
.highlight.sr{color:#0086d2}/*Literal.String.Regex*/
.highlight.s1{color:#0086d2}/*Literal.String.Single*/
.highlight.ss{color:#0086d2}/*Literal.String.Symbol*/
.highlight.bp{color:#fff}/*Name.Builtin.Pseudo*/
.highlight.vc{color:#fb660a}/*Name.Variable.Class*/
.highlight.vg{color:#fb660a}/*Name.Variable.Global*/
.highlight.vi{color:#fb660a}/*Name.Variable.Instance*/
.highlight.il{color:#0086f7;font-weight:bold}/*Literal.Number.Integer.Long*/