*{padding:0;margin:0;}
#container{width:96%;margin:1em 2% 0 2%;display:block;}
#content{width:100%;color:#039;}
#co-in{clear:both;margin-top:1em;}#comments{width:55%;float:left;}#post-info{float:right;width:40%;line-height:1em;}
footer{text-align:center;clear:both;width:100%;border-top:1px solid #9cf;}
/*General*/
body{font:20px Book Antiqua,Times,PMingliu;line-height:1.3em;color:#028;background:#f1faff;}
::selection{color:#f00;background:#ff0;}
a{color:#181;text-decoration:none;}a:hover{color:#1f75cc;}
p{margin:0 0 1em;text-indent:0;}
h1{font-size:1.8em;line-height:1em;}h2{font-size:1.4em;}h3{font-size:1.3em;}h4{font-size:1.2em;}h5{font-size:1.2em;}h6{color:#red;}
h1 a,h3,h3 a{color:#369;}h2,h3,h4{padding:0.2em 0 0.2em 0;}h2 a{color:#039;}
hr{border:1px dotted #9cf;clear:both;}
img,TABLE{border:0;}
TABLE{table-layout:auto;border-collapse:collapse;}
td,th{visibility:visible;border:1px solid #39c;text-align:center;vertical-align:middle;overflow:hidden;}
blockquote{margin:0.2em 1em 1em;padding:0.2em 1% 0 1%;border-left:0.2em solid #28b;background:#e1ebfa;}
ul,li{list-style:none;}
code{background-color:#f1f1f4;border:1px solid #bbb;font:20px Inconsolata;}
a span{vertical-align:super;font-size:0.6em;color:#181;}
/*Index*/
#post-index{background:#e9f3ff;border:1px solid #39c;float:right;width:22%;padding:0.2em 2% 0.2em 2%;margin:0.2em 2% 0.2em 2%;}
#index-ul li{list-style:none;}
#indexedcontent{width:80%;}
#menuIndex{position:fixed;top:0;right:0;width:18%;overflow:auto;padding:1em;}
#menuIndex a{display:block}#menuIndex a:hover{text-decoration:none;}
#menuIndex ul li{margin-bottom:0.2em;word-wrap:break-word;padding-left:1em;}
#menuIndex ul li.on{background-color:#e9f3ff;}
#menuIndex li.h1{font-size:1.2em;font-weight:normal;padding-left:0;margin-bottom:0.5em;}
#menuIndex li.h3{padding-left:2em;font-size:0.8em;}
/*Columns*/
#two-colomuns{-moz-column-count:2;-moz-column-gap:2%;-moz-column-rule:none;-webkit-column-count:2;-webkit-column-gap:2%;-webkit-column-rule:none;column-count:2;column-gap:2%;column-rule:none;}
#colomuns{-moz-column-count:3;-moz-column-gap:2%;-moz-column-rule:none;-webkit-column-count:3;-webkit-column-gap:2%;-webkit-column-rule:none;column-count:3;column-gap:2%;column-rule:none;}
/*Mine*/
.exp{font-size:0.8em;color:#000;}.cri{font-size:0.8em;color:#f00;}#ClCache{display:none;}