*{padding:0;margin:0;}
/*Main Parts*/
#container{width:96%;margin:1em 2% 0 2%;display:block;}
#content{width:100%;color:#fff;}
#co-in{clear:both;margin-top:1em;}
#comments{width:55%;float:left;}
#post-info{float:right;width:40%;line-height:1em;}
footer{text-align:center;clear:both;width:100%;border-top:1px solid #9cf;}
.upper{vertical-align:super;color:#9f9;font-size:0.6em;}
/*General*/
body{font:24px Book Antiqua,Times New Roman,Consolas,PMingliu;line-height:1.3em;color:#fff;background:#00142A;}
::selection{color:#F2F5A9;background:#004040;}
a{color:#9f9;text-decoration:none;}
a:hover{color:#1f75cc;}
p{margin:0 0 0.5em;text-indent:0;}
h1{font-size:1.6em;line-height:1em;}h2{font-size:1.4em;}h3{font-size:1.3em;}h4{font-size:1.2em;}h5{font-size:1.2em;}h6{color:#red;}
h1 a,h3,h3 a{color:#9cf;}
h2,h2 a{color:#F2F5A9;}
h2,h3,h4{padding:0.2em 0 0.2em 0;}
hr{border:1px dotted #9cf;clear:both;}
img,TABLE{border:0;}
TABLE{table-layout:auto;border-collapse:collapse;}
td,th{visibility:visible;border:1px solid #39c;text-align:center;vertical-align:middle;overflow:hidden;}
blockquote{margin:0.2em 1em 1em;padding:0.2em 1% 0 1%;border-left:0.2em solid #28b;background:#039;}
ul,li{list-style:none;}
code{background-color:#000;border:1px solid #999;font:20px Inconsolata;}
b,strong{color:#E6DB74;}
.showhide a{float:right;color:#9f9;}
/*Columns*/
#two-colomuns{-moz-column-count:2;-moz-column-gap:2%;-moz-column-rule:none;-webkit-column-count:2;-webkit-column-gap:2%;-webkit-column-rule:none;column-count:2;column-gap:2%;column-rule:none;}
#colomuns{-moz-column-count:3;-moz-column-gap:2%;-moz-column-rule:none;-webkit-column-count:3;-webkit-column-gap:2%;-webkit-column-rule:none;column-count:3;column-gap:2%;column-rule:none;}
/*Index*/
#indexedcontent{width:75%;}
#menuIndex{position:fixed;top:1%;right:1%;width:23%;overflow:auto;}
#menuIndex a{display:block}#menuIndex a:hover{text-decoration:none;}
#menuIndex ul li{margin-bottom:0.2em;word-wrap:break-word;padding-left:0.7em;}
#menuIndex ul li.on{background-color:#000;}
#menuIndex li.h1{font-size:1.2em;font-weight:normal;padding-left:0.2em;margin-bottom:0.5em;}
#menuIndex li.h3{padding-left:1.5em;font-size:0.9em;}
/*Mine*/
.exp{font-size:0.8em;color:#fff;}
.cri{font-size:0.8em;color:#f00;}
#ClCache{display:none;}
.red{color:red;}