<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<link rel="icon"href="{{ site.url }}/assets/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico"type="image/x-icon" />
		<link rel="Bookmark" href="{{ site.url }}/assets/favicon.ico" />
		<link href="{{ site.url }}/assets/style.css" type="text/css" rel="stylesheet">
		<script type="text/javascript">$(document).ready(function(){$("a[rel='external'],a[rel='external nofollow']").click(function(){window.open(this.href);return false})})</script>
	</head>
	<body>
		<div id="container">
			<div id="content">
				{{ content }}
			</div>
		</div>
		<footer>
			<a href="/">{{ site.title }}</a> | {{ site.author.name }} &copy 2005-2013 CC NC-ND | <a href="{{ site.url }}/latest.html">Friendly format</a><br>
		{% for category in site.categories  %}<a href="{{ site.url }}/categories#{{ category | first  }}.html">{{ category | first  }}<span>{{ category | last | size  }}</span></a>{% endfor  %}
		</footer>
	</body>
</html>