<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<link rel="icon" href="{{ site.url }}/Assets/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ site.url }}/Assets/favicon.ico" type="image/x-icon" />
		<link rel="Bookmark" href="{{ site.url }}/Assets/favicon.ico">
		<link href="{{ site.url }}/Assets/style.css" type="text/css" rel="stylesheet">
		<link href="{{ site.url }}/Assets/pygments.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="container">
			{{ content }}
		</div>
		<footer>{% include footer.html %}</footer>
	</body>
</html>