---
layout: default
---
<h1>{{ page.title }}</h1><br />
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {extensions: ["mhchem.js"],processEscapes: true},
		tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{ content }}

<div id="co-in">
	<div id="comments">{% include disqus.html %}</div>
	<div id="post-info">{% include post-info.html %}</div>
</div>