---
layout: default
---
<script type="text/javascript" src="/assets/taketori.js"></script>
<link href="/assets/taketori.css" type="text/css" rel="stylesheet">
<script type="text/javascript">
//<![CDATA[
(new Taketori()).set({multiColumnEnabled:true,maxHeight:'900px',width:'100%'}).element('vt').toVertical();
//]]>
</script>
<div id="vt"><h3>{{ page.title }}</h3><br />{{{ content }}}</div>
<div id="co-in">
<div id="comments">{% include disqus.html %}</div>
<div id="post-info">°lÑì¶£º<br />{{ page.date }}<br /><br />·Öî£º<ul class="tag_box">{{# page.categories?to_categories }}{{> categories_list }} {{/ page.categories?to_categories }}</ul><br />˜Ë»`£º<ul class="tag_box">{{# page.tags?to_tags }}{{> tags_list }} {{/ page.tags?to_tags }}</ul></div>
</div>